.popup__button {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 36px;
    max-height: 50px;
    background-color: #000000;
    border-radius: 2px;
    border: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center; 
    color: #fff;
    opacity: 1;
    transition-duration: .5s;
    cursor: pointer;
}

.popup__button:hover {
    opacity: 0.8;
}
@media screen and (max-width: 535px) {
    .popup__button {
        font-size: 14px;
        line-height: 17px;
        max-width: 238px;
        max-height: 46px;
    }
}