.profile {
    max-width: 880px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media screen and (max-width: 1024px) {
    .header {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media screen and (max-width: 535px) {
    .profile {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
    }
}
@media screen and (max-width: 320px) {
    .profile {
        padding-top: 38px;
    }
}